# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=club_pass

# API
API_PORT=8000

# Telegram Bot
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here

# Staff Bot
STAFF_BOT_TOKEN=your-staff-bot-token-here

# i18n
I18N_SUPPORTED_LOCALES=ru_ru,en_us
I18N_DEFAULT_LOCALE=ru_ru

# Admin Panel
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_PORT=8101
ACCESS_TOKEN_EXPIRE_MINUTES=720  # JWT token expiration time in minutes (default: 720 = 12 hours)

# Expiration Service
EXPIRATION_CHECK_INTERVAL=30
EXPIRATION_API_PORT=8001
EXPIRATION_SERVICE_URL=http://expiration-service:8001

# CloudPub (for admin panel public access)
CLOUDPUB_TOKEN=your-cloudpub-token-here

# Mini App
MINI_APP_URL=https://mini-app-staff-flame.cloudpub.ru
MINI_APP_PORT=3001

# CORS - разрешенные источники для админ-панели (через запятую)
CORS_ORIGINS=http://127.0.0.1:8101,http://andrey-raspberry:8101,https://admin-panel-flame.cloudpub.ru

# CORS - разрешенные источники для мини-приложения (через запятую)
CORS_ORIGINS_MINI_APP=http://127.0.0.1:3001,http://localhost:3001,https://mini-app-staff-flame.cloudpub.ru

# Music Search Service
YANDEX_MUSIC_TOKEN=your_yandex_music_token_here
